.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
    height: 300px;
}